SF.App/[Oo]bj/
SF.App/[Bb]in/
SF.App/Properties/
SF.App/bower/
SF.Tests/[Bb]in/
SF.Tests/obj/
.vs
.vscode
SF.App/SF.App.csproj.user
SF.Tests/obj/SF.Tests.csproj.nuget.cache
node_modules/
yarn.lock
package-lock.json
wwwroot/js/lib/
wwwroot/css/lib/