<div class="row">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">Oświadczenie o dochodach osób pozostających we wspólnym gospodarstwie domowym</div>
        <div class="card-body">
            <form>
                <div class="lead text-justify pb-2">
                    Oświadczenie o dochodach osób pozostających we wspólnym gospodarstwie domowym
                </div>
                <div class="pl-5">
                    <div class="input-group pb-2">
                        <div class="radio">
                            <label><input type="radio" name="income"> Oświadczam, że średni dochód brutto* na osobę w moim gospodarstwie domowym wynosi więcej niż 3500 zł,</label>
                        </div>
                    </div>
                    <div class="input-group pb-2">
                        <div class="radio">
                            <label><input type="radio" name="income">  Oświadczam, że średni dochód brutto* na osobę w moim gospodarstwie domowym wynosi mniej niż 3500 zł, ale więcej niż 2000 zł,</label>
                        </div>
                    </div>
                    <div class="input-group pb-2">
                        <div class="radio">
                            <label><input type="radio" name="income">  Oświadczam, że średni dochód brutto* na osobę w moim gospodarstwie domowym wynosi poniżej 2000 zł,</label>
                        </div>
                    </div>
                </div>
                <div class="text-justify mt-3">
                    Oświadczam, że podane dane są zgodne z prawdą, a w przypadku zmiany mojej sytuacji materialnej 
                    zobowiązuję się powiadomić ZFŚS. Dokument będzie stanowił podstawę do wypłacenia świadczeń ZFŚS w
                    okresie 12 miesięcy od momentu jego dostarczenia do ZFŚS. Po tym okresie wymagane jest jego ponowne
                    złożenie.
                </div>
                <div class="text-justify mt-3">
                    Mam świadomość, że dane te mogą podlegać weryfikacji W przypadku podania danych nieprawdziwych,
                    zgodnie z regulaminem ZFŚS, utracę prawo do korzystania ze świadczeń funduszu na okres 3 lat
                    kalendarzowych.
                </div>
                <div class="text-justify mt-4">
                    Dodatkowe informacje (opcjonalne):
                </div>
                <div class="input-group pl-5 pt-2">
                    <div class="checkbox">
                        <label><input type="checkbox"> Wnioskuję o przyznanie Przedpłaconej Karty Świątecznej,</label>
                    </div>
                </div>
                <div class="col-md-4 mx-auto mt-5">
                    <input type="submit" class="btn btn-primary btn-block" value="Wyślij"/>
                </div>
            </form>
        </div>
    </div>
</div>