<div class="row">
    <div class="card col-md-8 mx-auto px-0">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Wszystko gra!</h4>
            <p>
                Oświadczenie zostało pomyślnie zarejestowane w systemie. Status można sprawdzić w zakładce <a asp-action="Index">Formularze - Podgląd</a>.
            </p>
            <hr>
            <p class="mb-0">
                W razie potrzeby dodatkowych informacji prosimy o kontakt pod adresem email <a href="mailto:zfss@dgs.com">zfss@dgs.com</a>
            </p>
        </div>
    </div>
</div>