@model SF.App.Models.ViewModels.HomeIndexViewModel

<div class="row">
    <div class="card col-md-6 mx-auto mt-8 px-0">
        <div class="card-header">Dane pracownika</div>
        <div class="card-body">
            <form method="Post" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-3">
                            <label for="id">Identyfikator pracownika</label>
                            <input class="form-control " id="id" type="text" asp-for="EmployeeId" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">Imię</label>
                            <input class="form-control" id="name" type="text" asp-for="Name" />
                        </div>
                        <div class="col-md-6">
                            <label for="lastName">Nazwisko</label>
                            <input class="form-control" id="lastName" type="text" asp-for="Surname" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="department">Dział</label>
                            <input class="form-control" id="department" type="text" asp-for="Department" />
                        </div>
                        <div class="col-md-6">
                            <label for="directManager">Przełożony</label>
                            <input class="form-control" id="directManager" type="text" asp-for="DirectManager" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="hiredDate">Data zatrudnienia</label>
                            <input class="form-control" id="hiredDate" type="text" asp-for="HiredDate" readonly />
                        </div>          
                        <div class="col-md-6">
                            <label for="email">Adress email</label>
                            <input class="form-control" id="email" type="Email" asp-for="Email" readonly />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Zapisz wprowadzone zmiany" />
            </form>
        </div>
    </div>
</div>