<div class="row">
    <div class="card col-md-10 mx-auto mt-8 px-0">
        <div class="card-body">
            <div class="alert alert-warning">
                <p><b>Brak danych w bazie danych ZFŚS</b></p>
                <p>
                    <form method="Post" asp-action="ReportNoRecord">
                        Baza danych Zakładowego Funduszu Świadczeń Socjalnych nie zawiera wymaganych informacji dotyczące Twoje profilu.
                        <input type="submit" class="btn btn-link px-0 mb-1" value="Zgłoś problem" />.
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>