@model SF.App.Models.ViewModels.DashboardIndexViewModel

<div class="row">
    <div class="card col-md-6 mx-auto mt-8 px-0">
      <div class="card-header">Dane pracownika</div>
      <div class="card-body">
        <form>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-3">
                        <label for="id">Identyfikator pracownika</label>
                        <input class="form-control " id="id" type="text" asp-for="EmployeeId" disabled />
                    </div>
                </div>
            </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="name">Imię</label>
                <input class="form-control" id="name" type="text" asp-for="Name" />
              </div>
              <div class="col-md-6">
                <label for="lastName">Nazwisko</label>
                <input class="form-control" id="lastName" type="text" asp-for="Surname" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Adress email</label>
            <input class="form-control" id="email" type="email" />
          </div>
          <a class="btn btn-primary btn-block" href="">Zapisz wprowadzone zmiany</a>
        </form>
      </div>
    </div>
</div>